.skills-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #374650;
  color: white;
}

.skills,
.about-company {
  width: 45%;
}

.skills h3,
.about-company h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.skill {
  margin-bottom: 15px;
}

.skill label {
  display: block;
  margin-bottom: 5px;
}

.progress-bar {
  background-color: #ccc;
  border-radius: 25px;
  overflow: hidden;
}

.progress {
  background-color: #fcd21c;
  height: 10px;
  border-radius: 25px;
}

.about-company p {
  line-height: 1.6;
}
